doctype html
html(lang="zh-CN")
    head
        title="首页 - 简书"
        script(src= '/images/iconfont.js')
        link(href= '/css/layout.css' type='text/css' rel='stylesheet')
    body
        nav
            a.logo
                svg.icon(aria-hidden="true")
                    use(xlink:href="#icon-wanke")
            button.nav
            button.nav
            div
                input(type='text')
            button.nav
            button.nav
            button.nav.border
            button.nav.border
